<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606154086503-s0n5f4ef438vai7auc73eh18ch5gelck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606154086503-s0n5f4ef438vai7auc73eh18ch5gelck</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>606154086503-02q8c6lvlljm555t3lk1v02u971gr0dd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAP4BW5iaWaFYWqjlitEv9GjHllT0BVbww</string>
	<key>GCM_SENDER_ID</key>
	<string>606154086503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.coolstore</string>
	<key>PROJECT_ID</key>
	<string>august-bw</string>
	<key>STORAGE_BUCKET</key>
	<string>august-bw.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606154086503:ios:f02cd56694bc50c6fedcc2</string>
</dict>
</plist>